{% extends './layout/base.html.twig' %}

{% block title %}
	Le Potager Caladois - Inscription
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container p-4">
			<div class="d-flex flex-column align-items-center">
				<h1>Formulaire d'inscription</h1>
				<div class="d-flex justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home_page') }}">Retour à l'accueil</a>
						</li>
						<li class="breadcrumb-item active">Inscription</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	
	<section class="content">
		<div class="container-fluid p-5 mb-5">
			<div class="card col-lg-6 col-md-10 col-12 mx-auto p-3">
				<div class="card-header">
					<h3 class="mt4 text-center">Formulaire d'inscription</h3>
				</div>
			<div class="card-body">
				{{ form_start(form) }}
				<span class="text-danger">{{ form_errors(form.email) }}</span>
				{{ form_label(form.email) }}
				<div class="input-group mb-3">
					{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<span class="fas fa-envelope icon-large"></span>
						</span>
					</div>
				</div>
				{{ form_label(form.plainPassword.first) }}
				<div>
					{% for error in form.plainPassword.first.vars.errors %}
						<span class="text-danger">{{ error.message }}</span>
					{% endfor %}
				</div>
				<div class="input-group mb-3">
					{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<span class="fas fa-lock icon-large"></span>
						</span>
					</div>
				</div>
				{{ form_errors(form.plainPassword.second) }}
				{{ form_label(form.plainPassword.second) }}
				<div class="input-group mb-3">
					{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<span class="fas fa-lock icon-large"></span>
						</span>
					</div>
				</div>
				<div>
            		<input type="checkbox" id="showPasswords" onclick="togglePasswords()"> Afficher les mots de passe
        		</div>
			</div>

				<div class="card-footer text-center">
					<button type="submit" class="btn btn-secondary">{{ button_label|default('S\'inscrire') }}</button>
				</div>
				{{ form_row(form._token) }}
				{{ form_end(form, {render_rest: false}) }}</form>
			</div>

			<div class="text-center mt-4 mb-5">
				<p>Vous avez déjà un compte ?
					<a href="{{ path('app_security.login') }}">Cliquez ici</a>
				</p>
			</div>
		</div>
	</section>

	<script>
    function togglePasswords() {
        var password1 = document.getElementById("inscription_plainPassword_first");
        var password2 = document.getElementById("inscription_plainPassword_second");
        var showPasswords = document.getElementById("showPasswords");

        if (password1 && password2 && showPasswords) {
            if (showPasswords.checked) {
                password1.type = "text";
                password2.type = "text";
            } else {
                password1.type = "password";
                password2.type = "password";
            }
        }
    }
    </script>
{% endblock %}
