{% extends './layout/base.html.twig' %}

{% block title %}Le Potager Caladois - Connexion
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container p-4">
			<div class="d-flex flex-column align-items-center">
					<h1>Page de connexion</h1>
				<div class="d-flex justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home_page') }}">Retour à l'accueil</a>
						</li>
						<li class="breadcrumb-item active">Connexion</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid mb-5 p-5">
			<div class="card col-lg-5 col-md-10 col-12 mx-auto p-3 mt-1">
				<div class="card-header">
					<h3 class="card-title text-center">Formulaire de connexion</h3>
				</div>
				{% for message in app.flashes('success') %}
					<div class="alert alert-success mt-4">
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('error') %}
					<div class="alert alert-danger mt-4">
						{{ message }}
					</div>
				{% endfor %}

				{% if error %}
					<div class="alert alert-danger mt-4">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				<form action="{{ path('app_security.login') }}" method="post">
					<div class="card-body">
						<div class="form-group">
							<label for="username" class="form-label mt-4">Adresse email</label>
							<input type="email" class="form-control custom-input" id="username" name="_username" placeholder="Adresse email" value="{{ last_username }}" required>
						</div>
						<div class="form-group">
							<label for="password" class="form-label mt-4">Mot de passe</label>
							<input type="password" class="form-control custom-input" id="password" name="_password" placeholder="Mot de passe" required>
						</div>
						<div class="form-group form-check mt-2">
                            <input type="checkbox" class="form-check-input" id="showPassword" onclick="togglePassword()">
                            <label class="form-check-label" for="showPassword">Afficher le mot de passe</label>
                        </div>
						<div class="card-footer text-center">
							<button type="submit" class="btn btn-color mt-4">Se connecter</button>
						</div>
						
					</div>
				</form>
			</div>

			<div class="text-center mt-3 mb-5">
                <p>Vous n'avez pas de compte ?
					<a href="{{ path('app_security.inscription') }}">Cliquez ici</a>
				</p>
			</div>
		</div>
	</section>

	<script>
    function togglePassword() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
	</script>
{% endblock %}

