<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home_page') }}" aria-label="Le Potager Caladois">
      <img class="logo" src="{{ asset('/images/Logo.jpg') }}" alt="Le Potager Caladois" style="max-height: 80px; width: auto;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <div class="menu-separator"></div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3 flex-wrap">
        <li class="nav-item mt-1">
          <a class="nav-link active" href="{{ path('app_categorie_legumes', {'slug': 'Légumes'}) }}">Légumes</a>
        </li>
        <li class="nav-item mt-1">
          <a class="nav-link active" href="{{ path('app_categorie_fruits', {'slug': 'Fruits'}) }}">Fruits</a>
        </li>
        <li class="nav-item mt-1">
          <a class="nav-link active" href="{{ path('app_categorie_boissons', {'slug': 'Boissons'}) }}">Boissons</a>
        </li>
        <li class="nav-item mt-1">
          <a class="nav-link" href="{{ path('app_producteur') }}">Producteurs</a>
        </li>
        <li class="nav-item mt-1">
          <a class="nav-link" href="#">Notre Histoire</a>
        </li>
        <li class="nav-item ms-2 search">
        <form class="d-flex mt-2" role="search" action="{{ path('app_admin.produit') }}">
        <select name="search_type" class="form-select" aria-label="Default select example">
          <option value='produit'>Produits</option>
          <option value="producteur">Producteurs</option>
        </select>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </li>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_categorie') }}">Catégories</a></li>
            <li><a class="dropdown-item" href="#">Où nous trouver</a></li>
            <li><a class="dropdown-item" href="#">Notre Histoire</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_producteur') }}">Producteurs</a></li>
          </ul>
          </li>
        </ul>
          <ul class="nav-item dropdown mt-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle d-inline d-lg-none"></i>
          Mon Compte
          </a>
          <ul class="dropdown-menu">
            {% if is_granted('ROLE_ADMIN') %}
            <li><a class="dropdown-item" href="{{ path('app_admin') }}">AdminDashBoard</a></li>
            <li><hr class="dropdown-divider"></li>
            {% endif %}
            {% if app.user %}
            <li><a class="dropdown-item" href="{{ path('profil') }}">Mon profil</a></li>
            {% endif %}
            {% if not app.user %}
            <li><a class="dropdown-item" href="{{ path('app_security.login') }}">Connexion</a></li>
            {% endif %}
            {% if app.user %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_security.logout') }}">Deconnexion</a></li>
            {% endif %}
          </ul>
        </ul>  
      </div>
    </div>
  </div>
</nav>

