{% extends './layout/base.html.twig' %}

{% block title %}
	Ajout d'un nouveau producteur|
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container mt-3 p-5">
			<div class="d-flex justify-content-between align-items-center">
				<div class="text-left">
					<h1>Ajouter un producteur</h1>
				</div>
				<div class="me-5">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_admin.producteur') }}">Liste des producteurs</a>
						</li>
						<li class="breadcrumb-item active">Ajouter un producteur</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="card w-50 mx-auto p-3 mt-3">
				<div class="card-header">
					<h3 class="card-title">Ajouter un producteur</h3>
				</div>
			<div class="card-body">
				{{ form_start(form) }}
				{{ form_label(form.nom, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
					{{ form_errors(form.nom) }}
					{{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<span class="fas fa-user icon-large"></span>
						</span>
					</div>
				</div>
				{{ form_label(form.email, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
					{{ form_errors(form.email) }}
					{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<span class="fas fa-envelope icon-large"></span>
						</span>
					</div>
				</div>
				{{ form_label(form.tel, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
					{{ form_errors(form.tel) }}
					{{ form_widget(form.tel, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<span class="fas fa-phone icon-large"></span>
						</span>
					</div>
				</div>
				{{ form_label(form.adresse, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
					{{ form_errors(form.adresse) }}
					{{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<span class="fas fa-home icon-large"></span>
						</span>
					</div>
				</div>
				{{ form_label(form.ville, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
					{{ form_errors(form.ville) }}
					{{ form_widget(form.ville, {'attr': {'class': 'form-control', 'placeholder': 'Ville'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<span class="fas fa-city icon-large"></span>
						</span>
					</div>
				</div>
				{{ form_label(form.code_postal, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
					{{ form_errors(form.code_postal) }}
					{{ form_widget(form.code_postal, {'attr': {'class': 'form-control', 'placeholder': 'Code postal'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<span class="fas fa-map-marker-alt icon-large"></span>
						</span>
					</div>
				</div>
			</div>

			<div class="card-footer text-center">
				<button type="submit" class="btn btn-color">Ajouter</button>
			</div>
			{{ form_row(form._token) }}
			{{ form_end(form, {render_rest: false}) }}
		</div>
	</section>
{% endblock %}
