{% extends './layout/base.html.twig' %}

{% block title %}Modifiez votre profil
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container mt-3 p-5">
			<div class="d-flex justify-content-between align-items-center">
				<div class="text-left">
					<h1>Modifier mon profil</h1>
				</div>
				<div class="me-5">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('profil') }}">Retour à mon profil</a>
						</li>
						<li class="breadcrumb-item active">Modifier mon profil</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="card w-75 mx-auto p-3 mt-5">
			<div class="card-header">
				<h3 class="card-title">Formulaire de modification des informations de l'utilisateur</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form method="post">
				<div class="card-body">
					{% if form.utilisateurDetails.prenom is defined and form.utilisateurDetails.nom is defined %}
						{{ form_label(form.utilisateurDetails.prenom) }}
						{{ form_errors(form.utilisateurDetails.prenom) }}
						{{ form_widget(form.utilisateurDetails.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
						{{ form_label(form.utilisateurDetails.nom) }}
						{{ form_errors(form.utilisateurDetails.nom) }}
						{{ form_widget(form.utilisateurDetails.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
					{% endif %}
					{% if form.utilisateurDetails.tel is defined %}
						{{ form_label(form.utilisateurDetails.tel)}}
						{{ form_errors(form.utilisateurDetails.tel) }}
						{{ form_widget(form.utilisateurDetails.tel, {'attr': {'class': 'form-control', 'placeholder': 'Numéro de téléphone'}}) }}
					{% endif %}
					{% if form.utilisateurDetails.adresse is defined %}
						{{ form_label(form.utilisateurDetails.adresse)}}
						{{ form_errors(form.utilisateurDetails.adresse) }}
						{{ form_widget(form.utilisateurDetails.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
					{% endif %}
					{% if form.utilisateurDetails.ville is defined %}
						{{ form_label(form.utilisateurDetails.ville)}}
						{{ form_errors(form.utilisateurDetails.ville) }}
						{{ form_widget(form.utilisateurDetails.ville, {'attr': {'class': 'form-control', 'placeholder': 'Ville'}}) }}
					{% endif %}
					{% if form.utilisateurDetails.code_postal is defined %}
						{{ form_label(form.utilisateurDetails.code_postal)}}
						{{ form_errors(form.utilisateurDetails.code_postal) }}
						{{ form_widget(form.utilisateurDetails.code_postal, {'attr': {'class': 'form-control', 'placeholder': 'Code Postal'}}) }}
					{% endif %}
				</div>
				<!-- /.card-body -->

				<div class="card-footer float-right">
					<button type="submit" class="btn btn-color">{{ button_label|default('Mettre à jour') }}</button>
				</div>
				{{ form_row(form._token) }}
				{{ form_end(form, {render_rest: false}) }}
			</form>
		</div>
		<!-- /.card -->
	</div>
</div></section>{% endblock %}

