{% extends './layout/base.html.twig' %}
{% block importmap %}{{ importmap(['app', 'search-input']) }}{% endblock %}

{% block title %}
	Mise à jour d'un producteur|
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container p-4">
			<div class="d-flex flex-column align-items-center">
				<h1 class>Modifier un producteur</h1>
				<div class="d-flex justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_admin_producer') }}">Liste des producteurs</a>
						</li>
						<li class="breadcrumb-item active">Modifier un producteur</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="container-fluid p-5 mb-5">
			<div class="card col-lg-5 col-md-10 col-12 mx-auto p-3">
				<div class="card-header">
					<h3 class="card-title text-center">Modifier un producteur</h3>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
					{{ form_label(form.brandName, null, {'label_attr': {'class': 'single-line-label'}}) }}
					<div class="input-group mb-3">
						{{ form_errors(form.brandName) }}
						{{ form_widget(form.brandName, {'attr': {'class': 'form-control'}}) }}
						<div class="input-group-append">
							<span class="input-group-text">
								<span class="fas fa-user icon-large"></span>
							</span>
						</div>
					</div>
					{{ form_label(form.contactEmail, null, {'label_attr': {'class': 'single-line-label'}}) }}
					<div class="input-group mb-3">
						{{ form_errors(form.contactEmail) }}
						{{ form_widget(form.contactEmail, {'attr': {'class': 'form-control'}}) }}
						<div class="input-group-append">
							<span class="input-group-text">
								<span class="fas fa-envelope icon-large"></span>
							</span>
						</div>
					</div>
					{{ form_label(form.phone, null, {'label_attr': {'class': 'single-line-label'}}) }}
					<div class="input-group mb-3">
						{{ form_errors(form.phone) }}
						{{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
						<div class="input-group-append">
							<span class="input-group-text">
								<span class="fas fa-phone icon-large"></span>
							</span>
						</div>
					</div>
					{{ form_label(form.description, null, {'label_attr': {'class': 'single-line-label'}}) }}
					<div class="input-group mb-3">
						{{ form_errors(form.description) }}
						{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
					</div>
					{{ form_label(form.address.number,'Numéro de rue', {'label_attr': {'class': 'single-line-label'}}) }}
					<div class="input-group mb-3">
						{{ form_errors(form.address.number) }}
						{{ form_widget(form.address.number, {'attr': {'class': 'form-control'}}) }}
						<div class="input-group-append">
							<span class="input-group-text">
								<span class="fas fa-home icon-large"></span>
							</span>
						</div>
					</div>
					{{ form_label(form.address.street, null, {'label_attr': {'class': 'single-line-label'}}) }}
					<div class="input-group mb-3">
						{{ form_errors(form.address.street) }}
						{{ form_widget(form.address.street, {'attr': {'class': 'form-control'}}) }}
						<div class="input-group-append">
							<span class="input-group-text">
								<span class="fas fa-home icon-large"></span>
							</span>
						</div>
					</div>
					{{ form_label(form.address.city) }}
					<div class="input-group mb-3" id="addressContainer">
						{{ form_errors(form.address.city) }}
						{{ form_widget(form.address.city, {'attr': {'class': 'form-control', 'placeholder': 'Ville', 'data-action': 'address-input', 'data-target': 'city-dropdown'}}) }}
						<div id="dropdownMenu" class="dropdown-menu dropdown-city hidden w-100 mt-1">
							<ul id="dropdownResults" class="list-group">
							</ul>
						</div>
						<div class="input-group-append">
							<span class="input-group-text">
								<span class="fas fa-home icon-large"></span>
							</span>
						</div>
					</div>
					{{ form_label(form.address.postalCode, null, {'label_attr': {'class': 'single-line-label'}}) }}
					<div class="input-group mb-3">
						{{ form_errors(form.address.postalCode) }}
						{{ form_widget(form.address.postalCode, {'attr': {'class': 'form-control'}}) }}
						<div class="input-group-append">
							<span class="input-group-text">
								<span class="fas fa-home icon-large"></span>
							</span>
						</div>
					</div>
					{{ form_label(form.imageFile, null, {'label_attr': {'class': 'single-line-label'}}) }}
					<div class="input-group mb-3">
						{{ form_errors(form.imageFile) }}
						{{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="card-footer text-center">
					<button type="submit" class="btn btn-color">{{ button_label|default('Mettre à jour') }}</button>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</section>{% endblock %}
