{% extends './layout/base.html.twig' %}

{% block title %}
	Création d'un nouveau produit |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container mt-3 p-5">
			<div class="d-flex justify-content-between align-items-center">
				<div class="text-left">
					<h1>Ajouter un produit</h1>
				</div>
				<div class="me-5">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_admin.produit') }}">Liste des produits</a>
						</li>
						<li class="breadcrumb-item active">Ajouter un produit</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="card w-50 mx-auto p-3 mt-3">
				<div class="card-header">
					<h3 class="card-title">Ajouter un produit</h3>
				</div>
			<div class="card-body">
				{{ form_start(form) }}
				{{ form_label(form.nom, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
				{{ form_errors(form.nom) }}
				{{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
				</div>
				{{ form_label(form.prix, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
				{{ form_errors(form.prix) }}
				{{ form_widget(form.prix, {'attr': {'class': 'form-control', 'placeholder': 'Prix'}}) }}
				</div>
				{{ form_label(form.description, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
				{{ form_errors(form.description) }}
				{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
				</div>
				{{ form_label(form.imageFile, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
				{{ form_errors(form.imageFile) }}
				{{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
				</div>
				{{ form_label(form.categorie, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
				{{ form_errors(form.categorie) }}
				{{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
				</div>
				{{ form_label(form.producteur, null, {'label_attr': {'class': 'single-line-label'}}) }}
				<div class="input-group mb-3">
				{{ form_errors(form.producteur) }}
				{{ form_widget(form.producteur, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="card-footer text-center">
				<button type="submit" class="btn btn-color">Ajouter</button>
			</div>
			{{ form_row(form._token) }}
			{{ form_end(form, {render_rest: false}) }}
		</div>
	</section>
{% endblock %}
