{% extends './layout/base.html.twig' %}

{% block title %}
	Liste des produits
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container p-4">
			<div class="d-flex flex-column align-items-center">
				<h1>Résultat des recherches</h1>
				<div class="d-flex justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home_page') }}">Retour à l'accueil</a>
						</li>
						<li class="breadcrumb-item active">Résultat</li>
					</ol>
				</div>
			</div>
			{% for message in app.flashes('error') %}
				<div class="alert alert-warning">
					{{ message }}
				</div>
			{% endfor %}
		</div>
	</section>
	
	<section class="content">
		<div class="container p-5 mb-5">
			<div class="row justify-content-center">
				{% for product in products %}
					<div class="col-12 col-sm-6 col-md-5 col-lg-3 mb-4 listcard">
						<div class="card d-flex flex-column h-100 mx-auto w-100">
							<a href="{{ path('app_product_details', {'slug': product.slug}) }}"><img src="{{ asset('images/produits/' ~ product.imageName) }}" alt="{{ product.nom }}" class="card-img-top p-3 card-img-custom"></a>
							<div class="card-body text-center">
								<h5 class="card-title text-center">
								<a class="text-decoration-none" href="{{ path('app_product_details', {'slug': product.slug}) }}">
									{{ product.nom}}</h5>
								</a>
								<div class="card-text text-center mb-3">
									<div>{{ product.prix}}
										€ /kg</div>
									<a href="{{ path('app_producer_details', {'slug': product.producer.slug}) }}">
										<div>{{ product.producer.brandName}}</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="text-center">
						<p>Aucun produit trouvé.</p>
						<p>Veuillez effectuer une nouvelle recherche</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

