{% extends './layout/base.html.twig' %}

{% block title %}
        Panneau d'administration
        {{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container p-4">
			<div class="d-flex flex-column align-items-center">
					<h1>Panneau d'administration</h1>
				<div class="breadcrumb justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home_page') }}">Retour à l'accueil</a>
						</li>
						<li class="breadcrumb-item active">Panneau d'administration</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container p-5 mb-5">
			<div class="card col-lg-6 col-md-10 col-12 mx-auto p-3 mb-2">
				<div class="d-flex flex-column justify-content-around">
					<div class="mb-4">
						<a href="{{ path('app_admin.categorie') }}">
							<button type="submit" class="btn btn-color w-100">Gérer les catégories</button>
						</a>
					</div>
					<div class="mb-4">
						<a href="{{ path('app_admin.producteur') }}">
							<button type="submit" class="btn btn-color w-100">Gérer les producteurs</button>
						</a>
					</div>
					<div class="mb-4">
						<a href="{{ path('app_admin.produit') }}">
							<button type="submit" class="btn btn-color w-100">Gérer les produits</button>
						</a>
					</div>
					<div class="mb-4">
						<a href="{{ path('app_admin.utilisateur') }}">
							<button type="submit" class="btn btn-color w-100">Gérer les utilisateurs</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
