{% extends './layout/base.html.twig' %}

{% block title %}
	{{ category.nom }}
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container p-4">
			<div class="d-flex flex-column align-items-center">
				<h1>{{ category.nom }}</h1>
				<div class="d-flex justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home_page') }}">Retour à l'accueil</a>
						</li>
						<li class="breadcrumb-item active">{{ category.nom }}</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="container p-5 mb-5">
			<div class="row justify-content-center">
				{% for product in products %}
					<div class="col-12 col-sm-6 col-md-5 col-lg-3 mb-4 listcard">
						<div class="card d-flex flex-column h-100 mx-auto w-100">
							<a href="{{ path('app_product', {'slug': product.slug}) }}"><img src="{{ asset('images/produits/' ~ product.imageName) }}" class="card-img-top p-3 card-img-custom" alt="{{ product.nom }}"><a>
							<div class="card-body text-center">
								<h5 class="card-title text-center">{{ product.nom}}</h5>
								<div class="card-text text-center mb-3">
									<div>
									{{ product.prix}} € /
									{% if product.category.nom == 'Boissons' %}
                                        litre TTC
                                    {% else %}
                                        kg TTC
                                    {% endif %}
									</div>
									<a href="{{ path('app_producer_details', {'slug': product.producer.slug}) }}">
										<div>{{ product.producer.brandName }}</div>
									</a>
								</div>
								<a href="{{ path('app_product_details', {'slug': product.slug}) }}" class="btn-bottom">
									<button type="submit" class="btn btn-color">Détails</button>
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}