{% extends './layout/base.html.twig' %}

{% block title %}
	{{ categorie.nom }}
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1 class="filtitre">Catégorie</h1>
				</div>
				<div class="breadcrumb justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_categorie') }}">Retour à la liste des catégories</a>
						</li>
						<li class="breadcrumb-item active">Catégorie</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<div class="container-fluid mt-4">
		<div class="card w-50 mx-auto p-3">
			<h1 class="text-center">{{ categorie.nom }}</h1>
			{% for produit in produits %}
				<a href="{{ path('app_produit', {'slug': produit.slug}) }}">{{ produit.nom }}</a>
			{% endfor %}
			<table class="table table-striped">
				<tbody>
				</tbody>
		</table>
	{% endblock %}