{% extends './layout/base.html.twig' %}

{% block title %}
	Liste des catégories
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1 class="filtitre">Liste des catégories</h1>
				</div>
				<div class="breadcrumb justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home_page') }}">Retour à l'accueil</a>
						</li>
						<li class="breadcrumb-item active">Liste des catégories</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="row">
			{% for categorie in categories %}
				<div class="col-12 col-md-4 col-sm-6 mb-4">
					<div class="card d-flex p-2 mx-auto wrapper">
						<img src="http://localhost:8000/images/categories/{{ categorie.imageName }}" class="card-img-top" alt=".{{ categorie.nom}}">
						<div class="card-body text-center">
							<h5 class="card-title text-center">{{ categorie.nom}}</h5>
							<a href="{{ path('app_categorie.details', {'slug': categorie.slug}) }}" class="btn btn-primary btn-block btn-sm m-1">
								Voir la catégorie "{{ categorie.nom}}"
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
