{% extends './layout/base.html.twig' %}

{% block title %}
	Liste des catégories
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container mt-3 p-5">
			<div class="d-flex justify-content-between align-items-center">
				<div class="text-left">
					<h1>Liste des catégories</h1>
				</div>
				<div class="me-5">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home_page') }}">Retour à l'accueil</a>
						</li>
						<li class="breadcrumb-item active">Liste des catégories</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<table class="table table-hover ">
			<tbody>
				<div class="d-flex justify-content-around mt-5">
					{% for categorie in categories %}
						<div class="card w-25 d-flex mt-3 p-2">
							<img src="http://localhost:8000/images/categories/{{ categorie.imageName }}" class="card-img-top" alt=".{{ categorie.nom}}">
							<div class="card-body text-center">
								<h5 class="card-title text-center">{{ categorie.nom}}</h5>
								<a href="{{ path('app_categorie.details', {'slug': categorie.slug}) }}" class="btn btn-primary">
									Voir la catégorie "{{ categorie.nom}}"</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</tbody>
		</div>
	{% endblock %}
