{% extends './layout/base.html.twig' %}

{% block title %}
	{{ producteur.nom }}
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1 class="filtitre">Producteur</h1>
				</div>
				<div class="breadcrumb justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_producteur') }}">Retour à la liste des producteurs</a>
						</li>
						<li class="breadcrumb-item active">Producteur</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<div class="container-fluid mt-4">
		<div class="card w-75 w-lg-50-custom1 mx-auto p-3 mt-5 wrapper text-center">
			<h1 class="text-center">{{ producteur.nom }}</h1>
			<div class="mb-2"><strong>Email:</strong>  {{ producteur.email }}</div>
			<div class="mb-2"><strong>Téléphone:</strong>{{ producteur.tel }}</div>
			<div class="mb-2"><strong>Adresse:</strong>{{ producteur.adresse }}</div>
			<div class="mb-2"><strong>Ville:</strong>{{ producteur.ville }}</div>
			<div class="mb-2"><strong>Code Postal:</strong>{{ producteur.codePostal }}</div>	
			{# {% for produit in produits %}
				<a href="{{ path('app_produit', {'slug': produit.slug}) }}">{{ produit.nom }}</a>
				<img src="http://127.0.0.1:8000/images/produits/{{ produit.imageName }}" alt="">
			{% endfor %} #}
		</div>
	</div>
	{% endblock %}