{% extends './layout/base.html.twig' %}

{% block title %}
	Liste des producteurs
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container p-4">
			<div class="d-flex flex-column align-items-center">
				<h1>Nos producteurs</h1>
				<div class="d-flex justify-content-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home_page') }}">Retour à l'accueil</a>
						</li>
						<li class="breadcrumb-item active">Liste des producteurs</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container p-5 mb-5">
			<div class="row justify-content-center">
				{% for producteur in producteurs %}
					<div class="card col-lg-8 col-md-10 col-sm-8 p-4 mt-3">
						<div class="row">
							<div class="col-md-6">
								<img src="{{ asset('images/producteurs/' ~ producteur.imageName) }}" alt="{{ producteur.nom }}" class="img-fluid produit-image">
							</div>
							<div class="col-md-6 mt-sm-3 mt-md-0 text-center text-md-start">
								<h3>{{ producteur.nom }}</h3>
								<div class="producteur-description">
									<p id="descriptionCourte" class="description-courte">
										{{ producteur.description|length > 150 ? producteur.description|slice(0, 150) ~ '...' : producteur.description }}
									</p>
									<p id="descriptionComplete" class="description-complete">
										{{ producteur.description }}
									</p>
									{% if producteur.description|length > 150 %}
										<a href="#" id="voirPlus" onclick="toggleDescription(this); return false;" class="voir-plus">Voir plus</a>
									{% endif %}
								</div>
								<a href="{{ path('app_producteur.details', {'slug': producteur.slug}) }}" class="btn btn-color w-50 align-self-center">Détails</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<script>
		function toggleDescription(element) {
			// Trouve le parent commun le plus proche, dans ce cas, la div 'producteur-description'
			var container = element.closest('.producteur-description');
			
			// Utilise querySelector au lieu de getElementById pour trouver les éléments dans ce conteneur spécifique
			var courte = container.querySelector('.description-courte');
			var complete = container.querySelector('.description-complete');
			
			// Bascule la visibilité des descriptions courte et complète
			if (courte.style.display === 'none') {
				courte.style.display = 'block';
				complete.style.display = 'none';
				element.innerHTML = 'Voir plus';
			} else {
				courte.style.display = 'none';
				complete.style.display = 'block';
				element.innerHTML = 'Voir moins';
			}
		}
	</script>

{% endblock %}
