{% extends './layout/base.html.twig' %}

{% block title %}
	Liste des producteurs
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="content-header">
		<div class="container mt-3 p-5">
			<div class="d-flex justify-content-between align-items-center">
				<div class="text-left">
					<h1>Liste des Producteurs</h1>
				</div>
				<div class="me-5">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home_page') }}">Retour à l'accueil</a>
						</li>
						<li class="breadcrumb-item active">Liste des producteurs</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<div class="container p-5">
		<table class="table table-hover">
			<tbody>
				<div class="d-flex justify-content-around">
					{% for producteur in producteurs %}
						<div class="card w-25 d-flex">
							<div class="card-body">
								<h5 class="card-title">{{ producteur.nom}}</h5>
								<a href="{{ path('app_producteur.details', {'slug': producteur.slug}) }}" class="btn btn-color w-100 w-md-auto">
									Voir le producteur "
									{{ producteur.nom}}
									"</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</tbody>
		</div>
	{% endblock %}
