{% extends './layout/base.html.twig' %}

{% block title %}
Bienvenue sur la page d'accueil du Potager Caladois
{% endblock %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide mx-auto w-75 mt-5" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="5000">
			<img src=" {{ asset('/images/caroussel/caroussel1.png') }}" class="d-block w-100" alt="Carrousel Image">
			<div class="carousel-caption ">
				<h5>Le chou-fleur et ses bienfaits</h5>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<img src=" {{ asset('/images/caroussel/caroussel2.png') }}" class="d-block w-100" alt="Carrousel Image">
			<div class="carousel-caption">
				<h5>Farandole de poivrons</h5>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<img src=" {{ asset('/images/caroussel/caroussel3.png') }}" class="d-block w-100" alt="Carrousel Image">
			<div class="carousel-caption">
				<h5>Légumes de saison</h5>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="5000">
			<img src=" {{ asset('/images/caroussel/caroussel4.png') }}" class="d-block w-100" alt="Carrousel Image">
			<div class="carousel-caption ">
				<h5>Aux racines de la carotte</h5>
			</div>
		</div>
	</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	<span class="carousel-control-next-icon" aria-hidden="true"></span>
	<span class="visually-hidden">Next</span>
</button>

</div>

<div class="container p-5 mb-5">
	<img class="logo mb-5" src="{{ asset('/images/categories.png') }}" alt="Catégories" style="max-height: 80px; width: auto;">
	<div class="row justify-content-center">
		{% for category in categories %}
					<div class="col-12 col-md-4 col-sm-6 mb-4 d-flex align-items-center justify-content-center">
						<a href="{{ path('app_category_list', {'slug': category.slug}) }}">
							<div class="container-image background-image d-flex align-items-center justify-content-center">
								<div class="text-on-image text-center">
									<img src=" {{ asset('/images/categories/' ~ category.imageName) }}" alt="Légumes">
									<div class="voir-categorie"><strong>{{ category.nom }}</strong></div>
								</div>
							</div>
						</a>
					</div>						
		{% endfor %}
	</div>
</div>
{% endblock %}
